/*CSS DOCUMENT*/

html{
    background-color: #DEF7FF;
}

h1{
    color: rgb(0, 100, 255);
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

h2{
    color: #000000;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

h3{
    color: rgb(0, 100, 255);
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2em;
}

h4{
   color: #000000;
   font-family: sans-serif;
   margin-bottom:0;
}

h5{
    color: #a9a9a9;
    font-family: sans-serif;
    margin-top: 0.5em;
    margin-left: 1em;
}

p{
    color: #a9a9a9;
    font-family: sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0;
}